.title-page {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100vh;
   background-image: url("images/slug-love.png");
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   z-index: -1;
}

body {
   position: relative;
}

#Love-form {
<<<<<<< Updated upstream
   background: #e45555;
=======
   background-image: url("images/background.jpg");
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   background-color: #eeeeee;
>>>>>>> Stashed changes
   padding: 20px;
   margin: 50px;
}